<a href="https://colab.research.google.com/github/noahgift/functional_intro_to_python/blob/master/Public_Master_SafariOnline_Day1_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Essential Machine Learning and Exploratory Data Analysis with Python and Jupyter Notebook**

## Pragmatic AI Labs

![alt text](https://paiml.com/images/logo_with_slogan_white_background.png)

This notebook was produced by [Pragmatic AI Labs](https://paiml.com/).  You can continue learning about these topics by:

*   Buying a copy of [Pragmatic AI: An Introduction to Cloud-Based Machine Learning](http://www.informit.com/store/pragmatic-ai-an-introduction-to-cloud-based-machine-9780134863917)
*   Reading an online copy of [Pragmatic AI:Pragmatic AI: An Introduction to Cloud-Based Machine Learning](https://www.safaribooksonline.com/library/view/pragmatic-ai-an/9780134863924/)
*  Watching video [Essential Machine Learning and AI with Python and Jupyter Notebook-Video-SafariOnline](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118) on Safari Books Online.
* Watching video [AWS Certified Machine Learning-Speciality](https://learning.oreilly.com/videos/aws-certified-machine/9780135556597)
* Purchasing video [Essential Machine Learning and AI with Python and Jupyter Notebook- Purchase Video](http://www.informit.com/store/essential-machine-learning-and-ai-with-python-and-jupyter-9780135261095)
*   Viewing more content at [noahgift.com](https://noahgift.com/)

### Additional Related Topics from Noah Gift

His most recent books are:

*   [Pragmatic A.I.:   An introduction to Cloud-Based Machine Learning (Pearson, 2018)](https://www.amazon.com/Pragmatic-AI-Introduction-Cloud-Based-Analytics/dp/0134863860)
*   [Python for DevOps (O'Reilly, 2020)](https://www.amazon.com/Python-DevOps-Ruthlessly-Effective-Automation/dp/149205769X). 

His most recent video courses are:

*   [Essential Machine Learning and A.I. with Python and Jupyter Notebook LiveLessons (Pearson, 2018)](https://learning.oreilly.com/videos/essential-machine-learning/9780135261118)
*   [AWS Certified Machine Learning-Specialty (ML-S) (Pearson, 2019)](https://learning.oreilly.com/videos/aws-certified-machine/9780135556597)
*   [Python for Data Science Complete Video Course Video Training (Pearson, 2019)](https://learning.oreilly.com/videos/python-for-data/9780135687253)
*   [AWS Certified Big Data - Specialty Complete Video Course and Practice Test Video Training (Pearson, 2019)](https://learning.oreilly.com/videos/aws-certified-big/9780135772324)
*   [Building A.I. Applications on Google Cloud Platform (Pearson, 2019)](https://learning.oreilly.com/videos/building-ai-applications/9780135973462)
*   [Pragmatic AI and Machine Learning Core Principles (Pearson, 2019)](https://learning.oreilly.com/videos/pragmatic-ai-and/9780136554714)
*   [Data Engineering with Python and AWS Lambda (Pearson, 2019)](https://learning.oreilly.com/videos/data-engineering-with/9780135964330)

His most recent online courses are:

*   [Microservices with this Udacity DevOps Nanodegree (Udacity, 2019)](https://www.udacity.com/course/cloud-dev-ops-nanodegree--nd9991)
*   [Command Line Automation in Python (DataCamp, 2019)](https://www.datacamp.com/instructors/ndgift)

## Part 1.1: Introductory Concepts in Python, Jupyter and Colab

* [Read related material covered in Chapter 1 of Pragmatic AI](https://www.safaribooksonline.com/library/view/pragmatic-ai-an/9780134863924/ch01.xhtml#ch01)

* [Watch video section:  Lesson 1:  Introducing Data Science Coding with Python Fundamentals](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_01_00)

### Using IPython, Jupyter, Colab and Python executable

#### Using IPython

Very similar to Jupyter, but run from terminal:

*   IPython predates Jupyter
*   Both Jupyter and IPython accept *!ls -l* format to execute shell commands

In [0]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Jul  3 16:14 sample_data

In [0]:
var = !ls -l
type(var)

IPython.utils.text.SList

In [0]:
var.grep("data")

['drwxr-xr-x 1 root root 4096 Jul  3 16:14 sample_data']

#### Jupyter Notebook


Many flavors of Jupyter Notebook.  A few popular ones:

* ![Jupyter](https://user-images.githubusercontent.com/58792/40282633-395be25c-5c27-11e8-9e40-357ea4216562.png)
* ![JupyterHug](https://user-images.githubusercontent.com/58792/40282632-387efe32-5c27-11e8-9f02-6f95f2fee223.png)
* ![Colab](https://user-images.githubusercontent.com/58792/40282631-384f8cf6-5c27-11e8-9209-3f0d22de0d81.png)
* ![Kaggle](https://user-images.githubusercontent.com/58792/40282634-3985c3a6-5c27-11e8-8c53-06fbdedce847.png)
* ![Sagemaker](https://user-images.githubusercontent.com/58792/40282635-39a3bdd4-5c27-11e8-81d5-6533a3b84771.png)

#### Hosted Commercial Flavors

* [Google Colaboratory](https://colab.research.google.com/notebook):  Free
* [Kaggle](https://www.kaggle.com/):  Free


#### Pure Open Source

* [Jupyter](http://jupyter.org/) standalone, original
* [JupyterHub](https://github.com/jupyterhub/jupyterhub) multi-user, docker friendly

#### Hybrid Solutions

* Running Jupyter on [AWS Spot Instances](https://aws.amazon.com/ec2/spot/)
* [Google Data Lab](https://cloud.google.com/datalab/)
* [Azure Data Science Virtual Machines](https://azure.microsoft.com/en-us/services/virtual-machines/data-science-virtual-machines/)
* [AWS Sagemaker](https://aws.amazon.com/sagemaker/)
* [Azure Machine Learning Studio](https://studio.azureml.net/)

#### Colab Notebook Key Features

* [12.1 Perform Colaboratory basics ](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_12_01)

* [12.2 Use Advanced Colab Features](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_12_02)

*  Can enable both TPU and GPU runtimes
*  Can upload regular Jupyter Notebooks into colab
*  Can have a Google Drive Full of Colab Notebooks
*  Can sync colab notebooks to Github.  Here is an example of a [gist of this notebook](https://gist.github.com/noahgift/c69200e05c057cf239fc7ea0be62e043)
*  Can connect to a [local runtime](https://research.google.com/colaboratory/local-runtimes.html)
* Can create [forms in Colab](https://colab.research.google.com/notebooks/forms.ipynb)

##### Mount GDrive

In [0]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import os;os.listdir("/content/gdrive/My Drive/awsml")

['kaggle.json', 'credentials', 'config', 'cloudai-7ab42a4d8a43.json']

#### Magic Commands

##### %timeit

In [0]:
too_many_decimals = 1.912345897

print("built in Python Round")
%timeit round(too_many_decimals, 2)

built in Python Round
The slowest run took 20.71 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 400 ns per loop

##### %alias

In [0]:
alias lscsv ls -l sample_data/*.csv

In [0]:
lscsv

-rw-r--r-- 1 root root   301141 Jul  3 16:14 sample_data/california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jul  3 16:14 sample_data/california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jul  3 16:14 sample_data/mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jul  3 16:14 sample_data/mnist_train_small.csv

[Reference These]
https://ipython.readthedocs.io/en/stable/interactive/magics.html

##### %who

Print variables

In [0]:
var1=1

In [0]:
who

drive	 os	 too_many_decimals	 var	 var1

In [0]:
too_many_decimals

1.912345897

##### %writefile

In [0]:
%%writefile magic_stuff.py
import pandas as pd
df = pd.read_csv(
    "https://raw.githubusercontent.com/noahgift/food/master/data/features.en.openfoodfacts.org.products.csv")
df.drop(["Unnamed: 0", "exceeded", "g_sum", "energy_100g"], axis=1, inplace=True) #drop two rows we don't need
df = df.drop(df.index[[1,11877]]) #drop outlier
df.rename(index=str, columns={"reconstructed_energy": "energy_100g"}, inplace=True)
print(df.head())

Writing magic_stuff.py

In [0]:
cat magic_stuff.py

import pandas as pd
df = pd.read_csv(
    "https://raw.githubusercontent.com/noahgift/food/master/data/features.en.openfoodfacts.org.products.csv")
df.drop(["Unnamed: 0", "exceeded", "g_sum", "energy_100g"], axis=1, inplace=True) #drop two rows we don't need
df = df.drop(df.index[[1,11877]]) #drop outlier
df.rename(index=str, columns={"reconstructed_energy": "energy_100g"}, inplace=True)
print(df.head())

In [0]:
!python magic_stuff.py

   fat_100g  ...                         product
0     28.57  ...  Banana Chips Sweetened (Whole)
2     57.14  ...          Organic Salted Nut Mix
3     18.75  ...                  Organic Muesli
4     36.67  ...                   Zen Party Mix
5     18.18  ...            Cinnamon Nut Granola

[5 rows x 7 columns]

In [0]:
!pip install -q pylint

     |████████████████████████████████| 768kB 3.3MB/s
     |████████████████████████████████| 194kB 54.4MB/s
     |████████████████████████████████| 51kB 28.9MB/s
     |████████████████████████████████| 51kB 22.9MB/s
     |████████████████████████████████| 737kB 44.9MB/s

In [0]:
!pylint magic_stuff.py

************* Module magic_stuff
magic_stuff.py:3:0: C0301: Line too long (109/100) (line-too-long)
magic_stuff.py:4:0: C0301: Line too long (110/100) (line-too-long)
magic_stuff.py:5:24: C0326: Exactly one space required after comma
df = df.drop(df.index[[1,11877]]) #drop outlier
                        ^ (bad-whitespace)
magic_stuff.py:7:0: C0304: Final newline missing (missing-final-newline)
magic_stuff.py:1:0: C0111: Missing module docstring (missing-docstring)
magic_stuff.py:2:0: C0103: Constant name "df" doesn't conform to UPPER_CASE naming style (invalid-name)
magic_stuff.py:5:0: C0103: Constant name "df" doesn't conform to UPPER_CASE naming style (invalid-name)

------------------------------------
Your code has been rated at -1.67/10

##### Bash

In [0]:
%%bash
uname -a
ls
ps

Linux a765e9a25f41 4.14.79+ #1 SMP Wed Dec 19 21:19:13 PST 2018 x86_64 x86_64 x86_64 GNU/Linux
gdrive
magic_stuff.py
sample_data
    PID TTY          TIME CMD
      1 ?        00:00:00 run.sh
      6 ?        00:00:01 node
     27 ?        00:00:02 jupyter-noteboo
    123 ?        00:00:00 tail
    137 ?        00:00:03 python3
    322 ?        00:00:00 drive
    404 ?        00:00:00 drive
    460 ?        00:00:00 tail
    461 ?        00:00:00 grep
    611 ?        00:00:00 bash
    614 ?        00:00:00 ps

In [0]:
!uname -a

Linux a765e9a25f41 4.14.79+ #1 SMP Wed Dec 19 21:19:13 PST 2018 x86_64 x86_64 x86_64 GNU/Linux

##### Python2

In [0]:
%%python2
print "old school"

old school

##### HTML

In [0]:
%%html
<h1>Only The Best Tags and People</h>

##### Upload to Colab

Upload your file here (request.csv)

In [0]:
from google.colab import files
uploaded = files.upload()

Saving request.csv to request.csv

In [0]:
!ls -l

total 16
drwx------ 4 root root 4096 Jul 11 16:13 gdrive
-rw-r--r-- 1 root root  407 Jul 11 16:17 magic_stuff.py
-rw-r--r-- 1 root root  429 Jul 11 16:21 request.csv
drwxr-xr-x 1 root root 4096 Jul  3 16:14 sample_data

In [0]:
import pandas as pd
df = pd.read_csv("automl-tables_notebooks_census_income.csv")
df.head(2)

   age          workclass  fnlwgt  ... hours_per_week  native_country  income
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K

[2 rows x 15 columns]

In [0]:
# load an example dataset
from vega_datasets import data
cars = data.cars()

# plot the dataset, referencing dataframe column names
import altair as alt
alt.Chart(cars).mark_bar().encode(
  x=alt.X('Miles_per_Gallon', bin=True),
  y='count()',
)

Chart({
  data:      Acceleration  Cylinders  Displacement  ...  Origin  Weight_in_lbs       Year
  0            12.0          8         307.0  ...     USA           3504 1970-01-01
  1            11.5          8         350.0  ...     USA           3693 1970-01-01
  2            11.0          8         318.0  ...     USA           3436 1970-01-01
  3            12.0          8         304.0  ...     USA           3433 1970-01-01
  4            10.5          8         302.0  ...     USA           3449 1970-01-01
  5            10.0          8         429.0  ...     USA           4341 1970-01-01
  6             9.0          8         454.0  ...     USA           4354 1970-01-01
  7             8.5          8         440.0  ...     USA           4312 1970-01-01
  8            10.0          8         455.0  ...     USA           4425 1970-01-01
  9             8.5          8         390.0  ...     USA           3850 1970-01-01
  10           17.5          4         133.0  ...  Europe           3090 1970-01-01
  11           11.5          8         350.0  ...     USA           4142 1970-01-01
  12           11.0          8         351.0  ...     USA           4034 1970-01-01
  13           10.5          8         383.0  ...     USA           4166 1970-01-01
  14           11.0          8         360.0  ...     USA           3850 1970-01-01
  15           10.0          8         383.0  ...     USA           3563 1970-01-01
  16            8.0          8         340.0  ...     USA           3609 1970-01-01
  17            8.0          8         302.0  ...     USA           3353 1970-01-01
  18            9.5          8         400.0  ...     USA           3761 1970-01-01
  19           10.0          8         455.0  ...     USA           3086 1970-01-01
  20           15.0          4         113.0  ...   Japan           2372 1970-01-01
  21           15.5          6         198.0  ...     USA           2833 1970-01-01
  22           15.5          6         199.0  ...     USA           2774 1970-01-01
  23           16.0          6         200.0  ...     USA           2587 1970-01-01
  24           14.5          4          97.0  ...   Japan           2130 1970-01-01
  25           20.5          4          97.0  ...  Europe           1835 1970-01-01
  26           17.5          4         110.0  ...  Europe           2672 1970-01-01
  27           14.5          4         107.0  ...  Europe           2430 1970-01-01
  28           17.5          4         104.0  ...  Europe           2375 1970-01-01
  29           12.5          4         121.0  ...  Europe           2234 1970-01-01
  ..            ...        ...           ...  ...     ...            ...        ...
  376          18.6          4         112.0  ...     USA           2640 1982-01-01
  377          18.0          4         112.0  ...     USA           2395 1982-01-01
  378          16.2          4         112.0  ...     USA           2575 1982-01-01
  379          16.0          4         135.0  ...     USA           2525 1982-01-01
  380          18.0          4         151.0  ...     USA           2735 1982-01-01
  381          16.4          4         140.0  ...     USA           2865 1982-01-01
  382          20.5          4         151.0  ...     USA           3035 1982-01-01
  383          15.3          4         105.0  ...  Europe           1980 1982-01-01
  384          18.2          4          91.0  ...   Japan           2025 1982-01-01
  385          17.6          4          91.0  ...   Japan           1970 1982-01-01
  386          14.7          4         105.0  ...     USA           2125 1982-01-01
  387          17.3          4          98.0  ...     USA           2125 1982-01-01
  388          14.5          4         120.0  ...   Japan           2160 1982-01-01
  389          14.5          4         107.0  ...   Japan           2205 1982-01-01
  390          16.9          4         108.0  ...   Japan           2245 1982-01-01
  391          15.0          4          91.0  ...   Japan           1965 1982-01-01
  392          15.7          4          91.0  ...   Japan           1965 1982-01-01
  393          16.2          4          91.0  ...   Japan           1995 1982-01-01
  394          16.4          6         181.0  ...     USA           2945 1982-01-01
  395          17.0          6         262.0  ...     USA           3015 1982-01-01
  396          14.5          4         156.0  ...     USA           2585 1982-01-01
  397          14.7          6         232.0  ...     USA           2835 1982-01-01
  398          13.9          4         144.0  ...   Japan           2665 1982-01-01
  399          13.0          4         135.0  ...     USA           2370 1982-01-01
  400          17.3          4         151.0  ...     USA           2950 1982-01-01
  401          15.6          4         140.0  ...     USA           2790 1982-01-01
  402          24.6          4          97.0  ...  Europe           2130 1982-01-01
  403          11.6          4         135.0  ...     USA           2295 1982-01-01
  404          18.6          4         120.0  ...     USA           2625 1982-01-01
  405          19.4          4         119.0  ...     USA           2720 1982-01-01

  [406 rows x 9 columns],
  encoding: FacetedEncoding({
    x: X({
      bin: True,
      shorthand: 'Miles_per_Gallon'
    }),
    y: Y({
      shorthand: 'count()'
    })
  }),
  mark: 'bar'
})

In [0]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/noahgift/sugar/master/data/education_sugar_cdc_2003.csv")
df.head()

,State,Employed,Not employed,Retired,<High school,High school,Some college,College graduate
0,Alaska,26.2 (23.6–28.9),32.1 (27.8–36.8),16.0 (12.6–20.2),47.1 (37.8–56.5),34.9 (31.1–38.9),24.2 (21.0–27.8),12.9 (10.5–15.7)
1,Arizona,33.0 (28.5–37.8),28.7 (23.5–34.5),13.8 (10.8–17.5),40.4 (30.9–50.7),36.5 (30.7–42.7),24.4 (19.9–29.4),14.6 (11.6–18.3)
2,California,22.9 (20.9–25.1),30.2 (27.1–33.4),15.0 (12.2–18.2),38.5 (34.2–43.0),29.9 (26.5–33.7),21.4 (18.8–24.2),11.5 (9.8–13.5)
3,Connecticut,18.9 (17.1–20.9),24.3 (20.8–28.2),15.0 (12.7–17.7),27.8 (22.4–33.9),26.9 (23.7–30.3),19.9 (17.2–23.0),10.2 (8.7–12.0)
4,District of Columbia,18.5 (15.7–21.7),34.6 (29.5–40.1),18.5 (15.3–22.1),45.6 (36.4–55.2),39.0 (33.1–45.2),28.9 (23.4–35.0),8.4 (7.0–10.1)

In [0]:
df.describe()

,State,Employed,Not employed,Retired,<High school,High school,Some college,College graduate
count,24,24,24,24,24,24,24,24
unique,24,24,24,24,24,24,23,24
top,Iowa,26.2 (23.6–28.9),31.5 (28.3–34.9),13.8 (10.8–17.5),32.9 (26.0–40.6),34.9 (31.1–38.9),24.2 (21.0–27.8),11.5 (9.8–13.5)
freq,1,1,1,1,1,1,2,1

##### Forms in Colab

In [0]:
Use_Python = True #@param ["False", "True"] {type:"raw"}

In [0]:
print(f"You select it is {Use_Python} you use Python")

You select it is True you use Python

#### Python executable

Can run scripts, REPL and even run python statements with -c flag and semicolon to string together multiple statements

In [0]:
!python -c "import os;print(os.listdir())"

['.config', 'gdrive', 'request.csv', 'magic_stuff.py', 'sample_data']

In [0]:
!ls -l

total 16
drwx------ 4 root root 4096 Jul 11 16:13 gdrive
-rw-r--r-- 1 root root  407 Jul 11 16:17 magic_stuff.py
-rw-r--r-- 1 root root  429 Jul 11 16:21 request.csv
drwxr-xr-x 1 root root 4096 Jul  3 16:14 sample_data

In [0]:
!pip install -q yellowbrick

In [0]:
#this is how you capture input to a program
import sys;sys.argv

['/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py',
 '-f',
 '/root/.local/share/jupyter/runtime/kernel-5ef18e02-9f8c-412f-8036-32144a70dde9.json']

### Introductory Concepts
*  **Procedural Statements**
*  Strings and String Formatting
*  Numbers and Arithmetic Operations
*  Data Structures

 #### Procedural Statements
 Procedural statements are literally statements that  can be issued one line at a time.  Below are types of procedural statements.  These statements can be run in:
 * Jupyter Notebook
 * IPython shell
 * Python interpreter
 * Python scripts

**Printing**

In [0]:
print("Hello world")

Hello world

**Create Variable and Use Variable**

In [0]:
variable = "armbar"
variable

'armbar'

**Multiple procedural statements**

In [0]:
attack_one = "kimura"
attack_two = "arm triangle"
print("In Brazilian Jiu Jitsu a common attack is a:", attack_one)
print("Another common attack is a:", attack_two)

In Brazilian Jiu Jitsu a common attack is a: kimura
Another common attack is a: arm triangle

**Adding Numbers**

In [0]:
1+1

2

**Adding Phrases**

In [0]:
"arm" + " bar"+" 4"+" morestuff " + "lemon"

'arm bar 4 morestuff lemon'

**Complex statements**

More complex statements can be created that use data structures like the belts variable, which is a list.

In [0]:
belts = ["black","white", "blue", "purple", "brown"]
for belt in belts:
    if "black" in belt:
        print("The belt I want to be is:", belt)
    else:
        print("This is not the belt I want to end up at:", belt)

The belt I want to be is: black
This is not the belt I want to end up at: white
This is not the belt I want to end up at: blue
This is not the belt I want to end up at: purple
This is not the belt I want to end up at: brown
This is not the belt I want to end up at: 1

#### Strings and String Formatting

Strings are a sequence of characters and they are often programmatically formatted.  Almost all Python programs have strings because they can be used to send messages to users who use the program.  When creating strings there are few core concepts to understand:

* Strings can be create with the single, double and triple/double quotes
* Strings are can be formatted
* One complication of strings is they can be encoded in several formats including unicode
* Many methods are available to operate on strings.  In an editor or IPython shell you can see these methods by tab completion: 
```
basic_string.
            capitalize()   format()       islower()      lower()        rpartition()   title()         
            casefold()     format_map()   isnumeric()    lstrip()       rsplit()       translate()     
            center()       index()        isprintable()  maketrans()    rstrip()       upper()         
            count()        isalnum()      isspace()      partition()    split()        zfill()         
            encode()       isalpha()      istitle()      replace()      splitlines()                  
            endswith()     isdecimal()    isupper()      rfind()        startswith()                  
            expandtabs()   isdigit()      join()         rindex()       strip()                       
            find()         isidentifier() ljust()        rjust()        swapcase()        
```

In [0]:
my_string = "this is a string I am using this time"
#my_string.split()
#my_string.upper()
my_string.title()
#my_string.count("this")

'This Is A String I Am Using This Time'

In [0]:
my_string.isnumeric()

False

**Basic String**

In [0]:
basic_string = "Brazilian Jiu Jitsu"

**Splitting String**

Turn a string in a list by splitting on spaces, or some other thing

In [0]:
#split on spaces (default)
basic_string.split()

['Brazilian', 'Jiu', 'Jitsu']

In [0]:
result = basic_string.split()
len(result)

3

In [0]:
#split on hyphen
string_with_hyphen = "Brazilian-Jiu-Jitsu"
string_with_hyphen.split("-")

['Brazilian', 'Jiu', 'Jitsu']

In [0]:
#split on hyphen
string_with_hyphen = "Brazilian,Jiu,Jitsu"
string_with_hyphen.split(",")

['Brazilian', 'Jiu', 'Jitsu']

**All Capital**

Turn a string into all Capital Letter

In [0]:
basic_string.capitalize()

'Brazilian jiu jitsu'

**Slicing Strings**

Strings can be referenced by length and sliced

In [0]:
#Get the last character
basic_string[-1:]

'u'

In [0]:
len(basic_string[2:])

17

In [0]:
#Get length of string
len(basic_string)

19

In [0]:
basic_string[-18:]

'razilian Jiu Jitsu'

**Strings Can Be Added Together**

In [0]:
basic_string + " is my favorite Martial Art"

'Brazilian Jiu Jitsu is my favorite Martial Art'

In [0]:
items = ["-",1,2,3]
for item in items:
  basic_string += str(item)
basic_string

'Brazilian Jiu Jitsu123-123-123-123-123'

In [0]:
"this is a string format: %s" % "wow"

'this is a string format: wow'

**F-Strings Can Be Formatted in More Complex Ways**

One of the best ways to format a string in modern Python 3 is to use f-strings

In [0]:
f'I love practicing my favorite Martial Art, {basic_string}'

'I love practicing my favorite Martial Art, Brazilian Jiu Jitsu123-123-123-123-123'

**Strings Can Use Triple Quotes to Wrap**

In [0]:
f"""
This phrase is multiple sentenances long.
There phrase can be formatted like simpler sentances,
for example, I can still talk about my favorite Martial Art {basic_string}
"""

'\nThis phrase is multiple sentenances long.\nThere phrase can be formatted like simpler sentances,\nfor example, I can still talk about my favorite Martial Art Brazilian Jiu Jitsu123-123-123-123-123\n'

**Line Breaks Can Be Removed with Replace**

The last long line contained line breaks, which are the **\n** character, and they can be removed by using the replace method

In [0]:
f"""
This phrase is multiple sentenances long.
There phrase can be formatted like simpler sentances,
for example, I can still talk about my favorite Martial Art {basic_string}
""".replace("\n", "...")

'...This phrase is multiple sentenances long....There phrase can be formatted like simpler sentances,...for example, I can still talk about my favorite Martial Art Brazilian Jiu Jitsu123-123-123-123-123...'

#### Numbers and Arithmetic Operations

Python is also a built-in calculator. Without installing any additional libraries it can do many simple and complex arithmetic operations.

**Adding and Subtracting Numbers**

In [0]:
steps = (1+1)-1
print(f"Two Steps Forward:  One Step Back = {steps}")

Two Steps Forward:  One Step Back = 1

**Multiplication with Decimals**

Can use float type to solve decimal problems

In [0]:
body_fat_percentage = 0.10
weight = 200
fat_total = body_fat_percentage * weight
print(f"I weight 200lbs, and {fat_total}lbs of that is fat")

I weight 200lbs, and 20.0lbs of that is fat

Can also use Decimal Library to set precision and deal with repeating decimal

In [0]:
from decimal import (Decimal, getcontext)

getcontext().prec = 2
Decimal(1)/Decimal(3)

Decimal('0.33')

**Using Exponents**

Using the Python math library it is straightforward to call 2 to the 3rd power

In [0]:
import math
math.pow(2,4)

16.0

Can also use built in exponent operator to accomplish same thing

In [0]:
2**3

8

In [0]:
2**4

16

this is regular multiplication

In [0]:
2*3

6

**Converting Between different numerical types**

There are many numerical forms to be aware of in Python.
A couple of the most common are:

* Integers
* Floats

In [0]:
number = 100
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100 is type [int]

In [0]:
number = float(100)
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100.0 is type [float]

In [0]:
class Foo:pass
f = Foo()

In [0]:
type(f)

__main__.Foo

**Numbers can also be rounded**

Python Built in round

In [0]:
too_many_decimals = 1.912345897
round(too_many_decimals, 6)
#get more info
#round?

1.912346

Numpy round

In [0]:
import numpy as np
np.round(too_many_decimals, 3)

1.912

Pandas round

In [0]:
import pandas as pd
df = pd.DataFrame([too_many_decimals], columns=["A"], index=["first"])
df.round(2)

          A
first  1.91

Simple benchmark of all three (**Python**, **numpy** and **Pandas** round):   using **%timeit**

*Depending on what is getting rounded (i.e. a very large DataFrame, performance may very, so knowing how to benchmark performance is important with round) *

In [0]:
print("built in Python Round")
%timeit round(too_many_decimals, 2)

print("numpy round")
%timeit np.round(too_many_decimals, 2)

print("Pandas DataFrame round")
%timeit df.round(2)

built in Python Round
The slowest run took 16.38 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 400 ns per loop
numpy round
The slowest run took 17.41 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 6.65 µs per loop
Pandas DataFrame round
1000 loops, best of 3: 756 µs per loop

### Data Structures
Python has a couple of core Data Structures that are used very frequently

* Lists
* Dictionaries

Dictionaries and lists are the real workhorses of Python, but there are also other Data Structers like tuples, sets, Counters, etc, that are worth exploring too.

#### Python Dictionaries

The workhorse of Python datastructures

##### Creating Python Dictionaries

Creating Python Dictionaries can be done with* brackets {}*

In [0]:
#bad_dictionary = {[2]:"one"}

In [0]:
new_dictionary = {"one":1}

In [0]:
submissions = {"armbar": "upper_body", 
               "arm_triangle": "upper_body", 
               "heel_hook": "lower_body", 
               "knee_bar": "lower_body"}
#type(submissions)
#submissions.items?
submissions

{'arm_triangle': 'upper_body',
 'armbar': 'upper_body',
 'heel_hook': 'lower_body',
 'knee_bar': 'lower_body'}

In [0]:
new_dict =dict(upper_body="lower_body")
new_dict

{'upper_body': 'lower_body'}

##### Using Python Dictionaries
A common dictionary usage pattern is to *iterate* on a dictionary by using the items method. In the example below the key and the value are printed:

In [0]:
#submissions.items?

In [0]:
for submission, body_part in submissions.items():
    print(f"The {submission} is an attack on the {body_part}")

The armbar is an attack on the upper_body
The arm_triangle is an attack on the upper_body
The heel_hook is an attack on the lower_body
The knee_bar is an attack on the lower_body

Dictionaries can also be used to *filter*.  In the example below, only the submission attacks on the lower body are displayed:

In [0]:
for _, body_parts in submissions.items():
  print(body_parts)

upper_body
upper_body
lower_body
lower_body

In [0]:
print(f"These are lower_body submission attacks in Brazilian Jiu Jitsu:")
for submission, body_part in submissions.items():
    if body_part == "lower_body":
        print(submission)

These are lower_body submission attacks in Brazilian Jiu Jitsu:
heel_hook
knee_bar

Dictionary keys and values can also be selected with built in *keys() * and *values()* methods

In [0]:
print(f"These are keys: {submissions.keys()}")
print(f"These are values: {submissions.values()}")

These are keys: dict_keys(['armbar', 'arm_triangle', 'heel_hook', 'knee_bar'])
These are values: dict_values(['upper_body', 'upper_body', 'lower_body', 'lower_body'])

Key lookup is very performant, and one of the most common ways to use a dictionary.

In [0]:
if "armbar" in submissions:
  print("found key")

found key

In [0]:
print("timing key membership")
%timeit if "armbar" in submissions: pass

timing key membership
10000000 loops, best of 3: 38.9 ns per loop

#### Python Lists

Lists are also very commonly used in Python. They allow for sequential collections. Lists can hold dictionaries, just as dictionaries can hold lists.

##### Creating Lists

One way to create lists is with *[] syntax*

In [0]:
list_of_bjj_positions = ["mount", "full-guard", "half-guard", 
                         "turtle", "side-control", "rear-mount", 
                         "knee-on-belly", "north-south", "open-guard"]

Another method os creating lists is with built in *list()* method

In [0]:
bjj_dominant_positions = list()
bjj_dominant_positions.append("side-control")
bjj_dominant_positions.append("mount")
bjj_dominant_positions

['side-control', 'mount']

Yet another way, very performant way to create lists is to use list comprehsion syntax

In [0]:
guards = "full, half, open"
guard_list = [f"{guard}-guard" for guard in guards.split(",")]
guard_list

['full-guard', ' half-guard', ' open-guard']

##### Using Lists

For loops are one of the simplist ways to use a list.

In [0]:
for position in list_of_bjj_positions:
    if "full" in position: #explore on your own "guard"
        print(position)

full-guard

Lists can also be used to select elements by slicing.

In [0]:
print(f'First position: {list_of_bjj_positions[:1]}')
print(f'Last position: {list_of_bjj_positions[-1:]}')
print(f'First three positions: {list_of_bjj_positions[0:3]}')

First position: ['mount']
Last position: ['open-guard']
First three positions: ['mount', 'full-guard', 'half-guard']

Lists can also be used to unpack powerful, succinct statements when used with built-in functions like zip.

In [0]:
bjj_position_matrix = [
    ["dominant", "top-mount", "back-mount", "side-control"],
    ["neutral", "open-guard", "full-guard", "standing"],
    ["weak", "turtle", "bottom-back-mount", "bottom-mount"]
]
list(zip(*bjj_position_matrix))

[('dominant', 'neutral', 'weak'),
 ('top-mount', 'open-guard', 'turtle'),
 ('back-mount', 'full-guard', 'bottom-back-mount'),
 ('side-control', 'standing', 'bottom-mount')]

#### Python Sets

Sets are unordered unique collections

##### Creating Python Sets

Sets can be created by using built-in *sets()* method

In [0]:
unique_attacks = set(("armbar","armbar", "armbar"))
print(type(unique_attacks))
unique_attacks

<class 'set'>

{'armbar'}

##### Using Sets

One of the most powerful ways to use sets is to find the differences between to collections

In [0]:
attacks_set_one = set(("armbar", "kimura", "heal-hook"))
attacks_set_two = set(("toe-hold", "knee-bar", "heal-hook"))
unique_set_one_attacks = attacks_set_one - attacks_set_two
print(f"Unique Set One Attacks {unique_set_one_attacks}")

Unique Set One Attacks {'armbar', 'kimura'}

Question:  

Q: set() is used to select unique values. what is its performance for a deep learning large data sets. in large data sets, if set() is not performant enough, what are the alternatives?

## Part 1.2 Functions 

* [Read related material covered in Chapter 1 (Functions Section) of Pragmatic AI](https://www.safaribooksonline.com/library/view/pragmatic-ai-an/9780134863924/ch01.xhtml#ch01lev1sub17)

* [Watch video section 2:  Writing and Applying Functions](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_02_00) 

*  **Writing Functions**
*  Function arguments:  positional, keyword
*  Functional Currying:  Passing uncalled functions
*  Functions that Yield
*  Decorators:  Functions that wrap other functions
*  Making Classes Behave Like Functions
*  Applying a Function to a Pandas DataFrame
*  Writing Lambdas

#### Writing Functions
Learning to write a function is the most fundamental skill to learn in Python.  With a basic mastery of functions, it is possible to have an almost full command of the language.

**Simple function**

The simplest functions just return a value.

In [0]:
def favorite_martial_art():
    return "bjj"

In [0]:
print(favorite_martial_art())
# This is the same output
my_variable = "bjj"
my_variable

bjj

'bjj'

In [0]:
def myfunc():pass

In [0]:
res = myfunc()
print(res)
#result = myfunc()
#print(result)

None

**Documenting Functions**

It is a very good idea to document functions.  
In Jupyter Notebook and IPython docstrings can be viewed by referring to the function with a ?.  ie.

```
In [2]: favorite_martial_art_with_docstring?
Signature: favorite_martial_art_with_docstring()
Docstring: This function returns the name of my favorite martial art
File:      ~/src/functional_intro_to_python/<ipython-input-1-bef983c31735>
Type:      function
```

In [0]:
def favorite_martial_art_with_docstring():
    """This function returns the name of my favorite martial art
    This is more
    This is even more
    return "string"
    """
    return "bjj"

**Docstrings of functions can be printed out by referring to *```__doc__```***

In [0]:
#favorite_martial_art_with_docstring.__doc__
favorite_martial_art_with_docstring?

In [0]:
#favorite_martial_art_with_docstring?

#### Function arguments: positional, keyword

A function is most useful when arguments are passed to the function. New values for times are processed inside the function. This function is also a 'positional' argument, vs a keyword argument. Positional arguments are processed in the order they are created in.

In [0]:
def practice(times):
    print(f"I like to practice {times} times a day")

In [0]:
practice(2)

I like to practice 2 times a day

In [0]:
practice(3)

I like to practice 3 times a day

**Positional Arguments are processed in order**

Note, *position* is the key to pay attention to.

In [0]:
def practice(times, technique, duration):
    print(f"I like to practice {technique}, {times} times a day, for {duration} minutes")

In [0]:
practice(3, "piano", 45)

I like to practice piano, 3 times a day, for 45 minutes

In [0]:
#Order is important, now the entire is incorrect and prints out nonsense
practice("piano", 7,60)

I like to practice 7, piano times a day, for 60 minutes

**Keyword Arguments are processed by key, value and can have default values**

One handy feature of keyword arguments is that you can set defaults and only change the defaults you want to change.

In [0]:
def practice(times=2, technique="python", duration=60):
    print(f"I like to practice {technique}, {times} times a day, for {duration} minutes")

In [0]:
practice()

I like to practice python, 2 times a day, for 60 minutes

In [0]:
practice(duration=90, times=4)

I like to practice python, 4 times a day, for 90 minutes

*****args and ****kwargs

allow dynamic argument passing to functions
Should be used with discretion because it can make code hard to understand

In [0]:
def attack_techniques(**kwargs):
    """This accepts any number of keyword arguments"""
    
    for name, attack in kwargs.items():
        print(f"This is an attack I would like to practice: {attack}")

In [0]:
attack_techniques(arm_attack="kimura", 
                  leg_attack="straight_ankle_lock", 
                  neck_attach="arm_triangle",
                 body_attach="charge")

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle
This is an attack I would like to practice: charge

In [0]:
#I also can pass as many things as I wants
attack_techniques(arm_attack="kimura", 
                  leg_attack="straight_ankle_lock", 
                  neck_attach="arm_triangle",
                  attack4="rear nake choke", attack5="key lock")

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle
This is an attack I would like to practice: rear nake choke
This is an attack I would like to practice: key lock

**passing dictionary of keywords to function**

**kwargs syntax can also be used to pass in arguments all at once

In [0]:
attacks = {"arm_attack":"kimura", 
           "leg_attack":"straight_ankle_lock", 
           "neck_attach":"arm_triangle"}

In [0]:
attack_techniques(**attacks)

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle

**Passing Around Functions**

Object-Oriented programming is a very popular way to program, but it isn't the only style available in Python. For concurrency and for Data Science, functional programming fits as a complementary style.

In the example, below a function can be used inside of another function by being passed into the function itself as an argument.

In [0]:
def attack_location(technique):
    """Return the location of an attack"""
    
    attacks = {"kimura": "arm_attack",
           "straight_ankle_lock":"leg_attack", 
           "arm_triangle":"neck_attach"}
    if technique in attacks:
        return attacks[technique]
    return "Unknown"

In [0]:
attack_location("kimura")

'arm_attack'

In [0]:
attack_location("bear hug")

'Unknown'

In [0]:
def multiple_attacks(attack_location_function):
    """Takes a function that categorizes attacks and returns location"""
    
    new_attacks_list = ["rear_naked_choke", "americana", "kimura"]
    for attack in new_attacks_list:
        attack_location = attack_location_function(attack)
        print(f"The location of attack {attack} is {attack_location}")

In [0]:
multiple_attacks(attack_location)

The location of attack rear_naked_choke is Unknown
The location of attack americana is Unknown
The location of attack kimura is arm_attack

#### Closures and Functional Currying

Closures are functions that contain other nested functions with state from outer function.

In Python, a common way to use them is to keep track of the state. In the example below, the outer function, attack_counter keeps track of counts of attacks. The inner fuction attack_filter uses the "nonlocal" keyword in Python3, to modify the variable in the outer function.

This approach is called "functional currying". It allows for a specialized function to be created from general functions. As shown below, this style of function could be the basis of a simple video game or maybe for the statistics crew of a mma match.

In [0]:
#nonlocal cannot modify this variable
#lower_body_counter=5
def attack_counter():
    """Counts number of attacks on part of body"""
    lower_body_counter = 0
    upper_body_counter = 0
    #print(lower_body_counter)
    def attack_filter(attack):
        nonlocal lower_body_counter
        nonlocal upper_body_counter
        attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
        if attack in attacks:
            if attacks[attack] == "upper_body":
                upper_body_counter +=1
            if attacks[attack] == "lower_body":
                lower_body_counter +=1
        print(f"Upper Body Attacks {upper_body_counter}, Lower Body Attacks {lower_body_counter}")
    return attack_filter

In [0]:
fight = attack_counter()

In [0]:
fight("kimura")

Upper Body Attacks 1, Lower Body Attacks 0

In [0]:
fight("knee_bar")

Upper Body Attacks 1, Lower Body Attacks 1

In [0]:
fight("keylock")

Upper Body Attacks 2, Lower Body Attacks 1

#### Partial Functions

Useful to partial assign default values to functions

In [0]:
from functools import partial

def multiple_attacks(attack_one, attack_two):
  """Performs two attacks"""
  
  print(f"First Attack {attack_one}")
  print(f"Second Attack {attack_two}")
  
attack_this = partial(multiple_attacks, "kimura")
type(attack_this)

functools.partial

By using this partial function, only one argument is needed

In [0]:
attack_this("knee-bar")

First Attack kimura
Second Attack knee-bar

Alternately, the original function can also be called with a different two attacks

In [0]:
multiple_attacks("Darce Choke", "Bicep Slicer")

First Attack Darce Choke
Second Attack Bicep Slicer

#### Lazy Evaluated Functions (Generators)

A very useful style of programming is "lazy evaluation". A generator is an example of that. Generators yield an items at a time.

The example below return an "infinite" random sequence of attacks. The lazy portion comes into play in that while there is an infinite amount of values, they are only returned when the function is called.

In [0]:
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [0]:
attack = lazy_return_random_attacks()

In [0]:
type(attack)

generator

In [0]:
for _ in range(6):
    print(next(attack))

['arm_triangle']
['knee_bar']
['knee_bar']
['kimura']
['straight_ankle_lock']
['keylock']

#### Decorators:   Functions that wrap other functions

##### Randomized Sleep Decorator

Another useful technique in Python is to use the decorator syntax to wrap one function with another function. In the example below, a decorator is written that adds random sleep to each function call. When combined with the previous "infinite" attack generator, it generates random sleeps between each function call.

In [0]:
def randomized_speed_attack_decorator(function):
    """Randomizes the speed of attacks"""
    
    import time
    import random
    
    def wrapper_func(*args, **kwargs):
        sleep_time = random.randint(0,3)
        print(f"Attacking after {sleep_time} seconds")
        time.sleep(sleep_time)
        return function(*args, **kwargs)
    return wrapper_func

In [0]:
@randomized_speed_attack_decorator
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [0]:
for _ in range(5):
    print(next(lazy_return_random_attacks()))

Attacking after 0 seconds
['knee_bar']
Attacking after 1 seconds
['keylock']
Attacking after 1 seconds
['straight_ankle_lock']
Attacking after 0 seconds
['kimura']
Attacking after 1 seconds
['knee_bar']

##### Timing Decorator

Using a decorator to time code is very common

In [0]:
from functools import wraps
from time import time

def timing(f):
    @wraps(f)
    def wrap(*args, **kw):
        ts = time()
        result = f(*args, **kw)
        te = time()
        print(f"fun: {f.__name__}, args: [{args}, {kw}] took: {te-ts} sec")
        return result
    return wrap

Using decorator to time execution of a function

In [0]:
@timing
def some_attacks():
  attack = lazy_return_random_attacks()
  for _ in range(5):
    print(next(attack))
    
some_attacks()

Attacking after 1 seconds
['kimura']
['straight_ankle_lock']
['arm_triangle']
['keylock']
['knee_bar']
fun: some_attacks, args: [(), {}] took: 1.0015373229980469 sec

#### Making Classes Behave Like Functions

Creating callable functions

In [0]:
class AttackFinder:
  """Finds the attack location"""
  
  
  def __init__(self, attack):
    self.attack = attack
  
  def __call__(self):
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    if not self.attack in attacks:
      return "unknown location"
    return attacks[self.attack]

In [0]:
my_attack = AttackFinder("kimura")
my_attack()

'upper_body'

#### Applying Functions to Pandas DataFrames

The final lesson on functions is to take this knowledge and use it on a DataFrame in Pandas. One of the more fundamental concepts in Pandas is use apply on a column vs iterating through all of the values. An example is shown below where all of the numbers are rounded to a whole digit.

In [0]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [0]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [0]:
iris['rounded_sepal_length'] = iris[['sepal_length']].apply(pd.Series.round)
iris.head()

   sepal_length  sepal_width  ...  species  rounded_sepal_length
0           5.1          3.5  ...   setosa                   5.0
1           4.9          3.0  ...   setosa                   5.0
2           4.7          3.2  ...   setosa                   5.0
3           4.6          3.1  ...   setosa                   5.0
4           5.0          3.6  ...   setosa                   5.0

[5 rows x 6 columns]

This was done with a built in function, but a custom function can also be written and applied to a column. In the example below, the values are multiplied by 100. The alternative way to accomplish this would be to create a loop, transform the data and then write it back. In Pandas, it is straightforward and simple to apply custom functions instead.

In [0]:
def multiply_by_100(x):
    """Multiplies by 100"""
    
    res = x * 100
    #print(f"This was passed in {x}, and this result was generated {res}")
    return res
  
  
iris['100x_sepal_length'] = iris[['sepal_length']].apply(multiply_by_100)
iris.head()

   sepal_length  sepal_width  ...  rounded_sepal_length  100x_sepal_length
0           5.1          3.5  ...                   5.0              510.0
1           4.9          3.0  ...                   5.0              490.0
2           4.7          3.2  ...                   5.0              470.0
3           4.6          3.1  ...                   5.0              460.0
4           5.0          3.6  ...                   5.0              500.0

[5 rows x 7 columns]

In [0]:
iris["new_column"] = iris[['sepal_length']]
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,rounded_sepal_length,10x_sepal_length,sepal_category,new_column
0,5.1,3.5,1.4,0.2,setosa,5.0,510.0,NaN,5.1
1,4.9,3.0,1.4,0.2,setosa,5.0,490.0,NaN,4.9
2,4.7,3.2,1.3,0.2,setosa,5.0,470.0,NaN,4.7
3,4.6,3.1,1.5,0.2,setosa,5.0,460.0,NaN,4.6
4,5.0,3.6,1.4,0.2,setosa,5.0,500.0,NaN,5.0

In [0]:
iris.groupby("species").max()

            sepal_length  sepal_width  ...  rounded_sepal_length  100x_sepal_length
species                                ...
setosa               5.8          4.4  ...                   6.0              580.0
versicolor           7.0          3.4  ...                   7.0              700.0
virginica            7.9          3.8  ...                   8.0              790.0

[3 rows x 6 columns]

In [0]:
#iris.apply(pd.Series.round, axis=1)

In [0]:
#def sepal_category(x):
  
#  if x == 4:
#  return "big"

#iris['sepal_category'] = iris[['sepal_width']].apply(sepal_category)
#iris.head()

In [0]:
#example of a smarter function
def smart_multiply_by_100(x):
  if x > 5:
    return 1
  return x

inputs = [1,2,6,10]
for input in inputs:
  print(smart_multiply_by_100(input))

1
2
1
1

#### Writing Lambdas

Generally considered to be unnecessary.  A Python lambda is an inline python and it can often lead to confusing code.

In [0]:
func = lambda x: x**2
func(4)

16

In [0]:
def regular_func(x):
  return x**2

regular_func(4)

16

In [0]:
def regular_func2(x):
  """This makes my variable go to the second power"""
  return x**2

In [0]:
regular_func2(2)

4

## Homework Excercises

### Watch Colab Videos on Safari Live Lesson:  *Essential Machine Learning and AI with Python and Jupyter Notebook*

Get Familiar with Colab and Master basic and advanced Features

* [12.1 Perform Colaboratory basics ](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_12_01)

* [12.2 Use Advanced Colab Features](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118/9780135261118-EMLA_01_12_02)

### Can you Return random attacks without repeating?

* keep track of previous calls and run random again if it finds a previous

```
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack
        
```

pseudo code:  if attack in previous_attacks:
                              ...new random
                          random_attack

In [0]:
def func():
  l = [1,2,3]
  return l
func()

[1, 2, 3]

In [0]:
def lazy_func():
  l = [1,2,3]
  for item in l:
    yield item
gen = lazy_func()

In [0]:
next(gen)

StopIteration: ignored

In [0]:
def myfunc():
  return "apple"

def myfunc2():
  return 1

print(myfunc())
print(myfunc2())

apple
1

In [0]:
def practise(times):
    print(f"I like to exercise {times} a day")

SyntaxError: ignored

## FAQ

### Q:  Magic Commands

In [0]:
#shell command (import subprocess)
!pwd

/content

In [0]:
# magic
%%python2
print "hello"

hello

In [0]:
#built into IPython
who

AttackFinder	 Decimal	 Foo	 Use_Python	 alt	 attack	 attack_counter	 attack_location	 attack_one
attack_techniques	 attack_this	 attack_two	 attacks	 attacks_set_one	 attacks_set_two	 basic_string	 belt	 belts
bjj_dominant_positions	 bjj_position_matrix	 body_fat_percentage	 body_part	 body_parts	 cars	 data	 df	 drive
f	 fat_total	 favorite_martial_art	 favorite_martial_art_with_docstring	 fight	 files	 func	 getcontext	 guard_list
guards	 iris	 item	 items	 lazy_return_random_attacks	 list_of_bjj_positions	 math	 multiple_attacks	 multiply_by_100
my_attack	 my_string	 my_variable	 myfunc	 new_dict	 new_dictionary	 np	 num_type	 number
os	 partial	 pd	 position	 practice	 randomized_speed_attack_decorator	 regular_func	 regular_func2	 res
some_attacks	 steps	 string_with_hyphen	 submission	 submissions	 sys	 time	 timing	 too_many_decimals
unique_attacks	 unique_set_one_attacks	 uploaded	 var1	 variable	 weight	 wraps

In [0]:
#built in python function
l = [1]
len(l)
max(l)
min(l)

1

### None

In [0]:
var = None
if var == None:
  print("this is None")

this is None

In [0]:
ll = []
ll == None

False

In [0]:
ll == True

False

In [0]:
def my_func():
  return 1
my_func() == None

False

In [0]:
def my_func2():
  """Returns None"""
  pass
my_func2() == None

True

### Next

In [0]:
def funky():
  l = [1,2,3]
  for item in l:
    yield item

In [0]:
f = funky()
next(f)

1

In [0]:
next(f)

2

In [0]:
##check value
val = False
if val == True:
  print("yes")

### Q:  Why are Python Dictionaries so commonly used vs other data structures?

A:  They are highly performant, easy to use, and flexible to program with

### Q: Can use ‘+=1’ to keep adding to the variable instead of replacing it with ‘upper_body_counter = upper_body_counter + 1’?

A:  yes ```var +=1``` is *syntatic sugar*

In [0]:
count = 0
for i in range(3):
  count +=1
  print(count)

1
2
3

In [0]:
count = 3
for i in range(3):
  count -=1
  print(count)

2
1
0

### Q: Does a function with ‘return’ instead of using ‘print’ do the same thing?

A:  No, these are different mostly

In [0]:
#in jupyter notebook, the last line prints automatically
var = "blue"
var

'blue'

In [0]:
def simple_color():
  print("blue")

In [0]:
simple_color()

blue

In [0]:
def simple_color_with_return():
  return "blue"

In [0]:
simple_color_with_return()

'blue'

In [0]:
if simple_color_with_return() == "blue":
  print("green")

green

In [0]:
if simple_color() == "blue":
  print("green")
else:
  print("the function had no return value")

blue
the function had no return value

In [0]:
simple_color() == None
simple_color() == "blue"

blue
blue

False

A function with no Return value in python return None

In [0]:
def some_function_with_no_return():
  var = "blue"

In [0]:
print(some_function_with_no_return())

None

In [0]:
def some_function_with_return():
  var = "blue"
  return var

In [0]:
print(some_function_with_return())

blue

In [0]:
result = some_function_with_return()
print(f"The color that is my favorite is {result}, but I also like green")

The color that is my favorite is blue, but I also like green

### Q: the concept of **args and **Kwargs is unclear 
A:  See below, it allows arbitrary or "N" arguments

In [0]:
def func_kwargs(**kwargs):
  for k,v in kwargs.items():
    print(k)
    print(v)

In [0]:
func_kwargs(one=1)

one
1

In [0]:
func_kwargs(one=1, two=2)

one
1
two
2

### Q: What is a dataframe
A:  Another data structure in Python, but like an excel spreadsheet:  columns and rows.

In [0]:
import pandas as pd
mydict= {}
mylist = []
mydf = pd.DataFrame()

####Q: how to call python from Java ? Is it common to do that ?

* use jython
* common in Spark

How does the performance effect while handling huge files in python?

#### Q: How to import module written in Colab into another Colab script?

### How is a string stored in Memory is it like Java?

### How do I format a number with f-string

I want 1.200 with the two trailing zeros, rather than the default 1.2.

Check out this [stackoverflow article](https://stackoverflow.com/questions/45310254/fixed-digits-after-decimal-with-f-strings).

In [0]:
fancy_formatting = 3.141592653
print(f'Only print two digits: {fancy_formatting:.2f}')

Only print two digits: 3.14

## Could give me an example of OOP kind of idea implemented in functional style

Yes, the nested function with local state is an example of keeping and modify

### What are some examples of filtering rows in a pandas DataFrame

## References

*   [Pragmatic AI: An Introduction to Cloud-Based Machine Learning-Physical Book](http://www.informit.com/store/pragmatic-ai-an-introduction-to-cloud-based-machine-9780134863917)
*   [Pragmatic AI: Pragmatic AI: An Introduction to Cloud-Based Machine Learning-SafariOnline Book](https://www.safaribooksonline.com/library/view/pragmatic-ai-an/9780134863924/)
*  [Essential Machine Learning and AI with Python and Jupyter Notebook-Video-SafariOnline](https://www.safaribooksonline.com/videos/essential-machine-learning/9780135261118)
* [Essential Machine Learning and AI with Python and Jupyter Notebook- Purchase Video](http://www.informit.com/store/essential-machine-learning-and-ai-with-python-and-jupyter-9780135261095)
*   [noahgift.com](https://noahgift.com/)
*   [paiml.com](https://paiml.com/)
* [Forbes:  Here come the notebooks](https://www.forbes.com/sites/forbestechcouncil/2018/08/17/here-come-the-notebooks/#766563807609)
* [Circleci:  Increase reliability in data science and ML projects](https://circleci.com/blog/increase-reliability-in-data-science-and-machine-learning-projects-with-circleci/)